WEBPASSWORD=
HOST_IP_V4_ADDRESS=Your host machine IP
TIMEZONE=Europe/Rome
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
BLOCKING_ENABLED=true
DNSMASQ_LISTENING=single
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=false
DNSSEC=false
REV_SERVER=false
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=lcars
